doctype html
block vars
include _mixin
html(lang="#{page.language}")
	head
		include ../components/_head

	body(class="page-"+page.name)
		include _header
		include _navMenu
		include _breadcrumbs
		block main
		include _speedBooking
		include _footer
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8eb9BO0iG_2uHwWpoNwHKkdehm4TEETw&callback=myMap", async, defer)