footer.footer
		.footer__item
				select#language.formItems(name="language")
						option(value="En") "English"
						option(value="Ua") "Українська"
						option(value="Ru") "Русский"
		.footer__item
				.social
						ul.share-buttons
							li: a.socialBtn.socialBtn__inst()
							li: a.socialBtn.socialBtn__fb(href="https://www.facebook.com/sharer/sharer.php?u=&t=", title="Share on Facebook", target="_blank", onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;")
							li: a.socialBtn.socialBtn__tweet(href="https://twitter.com/intent/tweet?source=&text=:%20", target="_blank", title="Tweet", onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;")
		.footer__item
				p &copy copyrights
		.footer__item
				p Kyiv, Wierd street 42
				p (055)555-55-55