meta(charset='UTF-8')
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="#{page.description}")
title BirdUp
link(rel="stylesheet", type='text/css', href="main.min.css")
link(href="https://fonts.googleapis.com/css?family=Ubuntu", rel="stylesheet")
link(rel="stylesheet", type="text/css", href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css")
script(src="https://code.jquery.com/jquery-3.2.1.min.js",integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",crossorigin="anonymous")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js", integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=", crossorigin="anonymous")
script(src="main.js")