mixin img(iclass, isrc, ialt)
	img(class= iclass, src= isrc, alt= ialt)

mixin about(header, text)
	.about__items
		h2= header
		p= text

mixin price(priceText, priceDisc, priceImg, pricePrice)
	.price__item
		h4= priceText
		img.img.prices__img(src= priceImg alt="room")
		p= priceDisc
		p price for this room 
		p= pricePrice

mixin list(className, href, item)
	li.menu__item(class= className)
		a(href=href )= item

mixin sublist(className, href, item)
	li.menu__item(class= className)
		a(href=href )= item
		ul.submenu
			each value, item in data.menu.submenu
				+list(value.class, value.href, item)