include _mixin
.menu
	nav.nav
		ul.main__menu
			each value, item in data.menu.navbar
				if item == "price" || item == "game room"
						+sublist(value.class, value.href, item)
				else
						+list(value.class, value.href, item)