.regWrapper

	form#regForm.hidden.formItems(method="POST")
		div.closeBtn X
		h2 Registration form
		ul
			li
				label(for='firstName') Enter you first name:
				input.formItems(type="text", name="firstName", id="firstName", placeholder="first name")
		
			li
				label(for='lastName') Enter you last name:
				input.formItems(type="text", name="lastName", id="lastName", placeholder="last name")
		
			li
				label(for='age') Enter you age:
				input.formItems(type="number", name="age", id="age", min='18', placeholder="18")
		
			li
				label(for='phone') Enter phone number:
				input.formItems(type="phone", name="phone", id="phone", placeholder="(555)555-55-55")
		
			li
				label(for='email') Enter e-mail:
				input.formItems(type="email", name="email", id="regemail", placeholder="example@dot.com")
		
			li
				lable(for="password") Enter password
				input.formItems(type='password', name="password", id="regpassword")
				
		input.formItems.btn(type="submit", name="confirm", id="confReg", value="Confirm")