.speedBooking
	form(action="./room", method="GET")
		button#speedBB.btn.formItems(type='button') Check room
		input#arriveD.formItems(type="text", name = "date", placeholder="Arrival date")
		input#departD.formItems(type="text", name = "date", placeholder="Departure date")
		select.formItems(name="cPersons", id="persons")
			option(value="0" selected) -- Select --
			option(value="1") 1
			option(value="2") 2
			option(value="4") 4
			option(value="6") 6
	.rooms
		each room in {rooms}
			.room= room		