.galleryWP {
  width: 100%;
  position: relative;
  background-color: #fff;
}
.galleryWP:after {
  padding-top: 42.85714285714287%;
  display: block;
  content: '';
}
.galleryWP .column {
  position: absolute;
  left: 0;
  top: 0;
  width: 14.2857142857142857%;
  float: left;
  padding: 6px;
  box-sizing: border-box;
}
.galleryWP .column .inner {
  width: 100%;
  position: relative;
}
.galleryWP .column .inner:after {
  padding-top: 100%;
  /* ratio 1:1 */
  display: block;
  content: '';
}
.galleryWP .column .inner:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
}
.galleryWP .column .inner:hover:before {
  background-color: rgba(0, 0, 0, 0);
}
.galleryWP .column:nth-child(1) {
  width: 28.5714285714285714%;
}
.galleryWP .column:nth-child(2) {
  left: 28.5714285714285714%;
}
.galleryWP .column:nth-child(3) {
  left: 28.5714285714285714%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.galleryWP .column:nth-child(4) {
  width: 28.5714285714285714%;
  left: 42.85714285714286%;
  top: 0;
}
.galleryWP .column:nth-child(4) .inner:after {
  padding-top: 48.7%;
}
.galleryWP .column:nth-child(5) {
  left: 71.42857142857143%;
  top: 0;
}
.galleryWP .column:nth-child(6) {
  left: auto;
  right: 0;
  top: 0;
}
.galleryWP .column:nth-child(7) {
  left: 71.42857142857143%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.galleryWP .column:nth-child(8) {
  left: auto;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.galleryWP .column:nth-child(9) {
  width: 28.5714285714285714%;
  top: auto;
  left: 0;
  bottom: 0;
}
.galleryWP .column:nth-child(9) .inner:after {
  padding-top: 48.7%;
}
.galleryWP .column:nth-child(10) {
  left: 28.5714285714285714%;
  top: auto;
  bottom: 0;
}
.galleryWP .column:nth-child(11) {
  left: 42.85714285714286%;
  top: auto;
  bottom: 0;
  width: 28.5714285714285714%;
}
.galleryWP .column:nth-child(12) {
  left: auto;
  top: auto;
  bottom: 0;
  right: 0;
  width: 28.5714285714285714%;
}
.galleryWP .column:nth-child(12) .inner:after {
  padding-top: 48.7%;
}
/* BEAUTY */
body,
html {
  background-color: #fff;
  padding: 0;
}
.galleryWP .column .inner {
  background-size: cover;
  background-position: center;
}
.galleryWP .column:nth-child(1) .inner {
  background-image: url("./dist/images/room4.jpg");
}
.galleryWP .column:nth-child(2) .inner {
  background-image: url("./dist/images/room6_2.jpg");
}
.galleryWP .column:nth-child(3) .inner {
  background-image: url("./dist/images/room1_1.jpg");
}
.galleryWP .column:nth-child(4) .inner {
  background-image: url("./dist/images/gameRoom.jpg");
}
.galleryWP .column:nth-child(5) .inner {
  background-image: url("./dist/images/room6_2.jpg");
}
.galleryWP .column:nth-child(6) .inner {
  background-image: url("./dist/images/room6_1.jpg");
}
.galleryWP .column:nth-child(7) .inner {
  background-image: url("./dist/images/room4_1.jpg");
}
.galleryWP .column:nth-child(8) .inner {
  background-image: url("./dist/images/room6.jpg");
}
.galleryWP .column:nth-child(9) .inner {
  background-image: url("./dist/images/room4.jpg");
}
.galleryWP .column:nth-child(10) .inner {
  background-image: url("./dist/images/room2_1.jpg");
}
.galleryWP .column:nth-child(11) .inner {
  background-image: url("./dist/images/room2.jpg");
}
.galleryWP .column:nth-child(12) .inner {
  background-image: url("./dist/images/room1_1.jpg");
}
.galleryWP .column:nth-child(13) .inner {
  background-image: url("./dist/images/room1.jpg");
}

 