/*@font-face{
	font-family: 'Ubuntu';
	src: url('fonts/Ubuntu-R.ttf') format('truetype');
}*/
@import url("gallery.css");

body{
	font-family: "Ubuntu";
	font-size: 16px;
	color: #132435;
	background-color: #f0f1f5;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;


	text-align: center;
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
	display: inline-block;
}

/*header*/
.header{
	position: relative;
	background-color: #44bbff;
	background-image: url("images/clouds.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 25rem;
}
.logo{
	height: 21rem;
	text-align: center;
	background: url("images/logo.png") no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
}

.menu{
	width: 100%;
	background-color: #44bbff;
	margin-top: -1rem;
}

.main__menu{
	position: relative;
}

.menu__item{
	display: inline-block;
	list-style: none;
	height: 2.5rem;
	width: 8rem;
	line-height: 2.2rem;
	vertical-align: bottom;
}

.menu__item a{
	display: block;
	background-color: #44bbff;
	color: #f0f1f5;
	border-top: 5px solid #44bbff;
	text-decoration: none;
}

.menu__item a:hover{
	background-color: #f0f1f5;
	border-top: 5px solid #b7e20c;
	color: #112233;
}

.menu__item a:active{
	background-color: #b7e20c;
	border-top: 5px solid #b7e20c;
	color: #112233;
}

.submenu{
	display:none;
	padding-left: 0;
}
.submenu_display{
	display: block;
	padding-left: 0;
}
/*wrapper*/
.wrapper{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content: center;
}

/*reg*/
.registration{
	background-color: #e9e9e9;
	width: 12rem;
	margin-right: 10%;
	padding: 20% auto;
	border-radius: 10px;
}


.formItems{
	border: none;
	border-radius: 10px;
	height: 2.2rem;
	margin: 0.28rem;
	padding-left: 0.5rem;
}

.formItems::valid{
	border-color: green;
}

/*slider*/

.slider{
	flex-basis: 70%;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  justify-content: center;

	max-height: 300px;
	text-align: center;
	margin: auto;
}

.slides{
	height: 300px;
	width: 300px;
	overflow: hidden;
}

#btnBw, #btnFw{
	width: 1.7rem;
	min-height: 300px;
	display: inline-block;
	bottom: 0%;
	background-color: #e9e9e9;
	border-color: #f9f9f9;
	margin: 0 -0.5rem;
	opacity: 0.5;
}
#btnBw{
	left: 20%;
	background-image: url(images/booking_sprite.png);
	background-repeat: no-repeat;
	background-position: -40px center;
}
#btnFw{
	right: 20%;
	background-image: url(images/booking_sprite.png);
	background-repeat: no-repeat;
	background-position: -60px center;
}

@keyframes showIn {
from { opacity: 0; }
to { opacity: 1; }
}
@keyframes showOut {	
from { opacity: 1; }
to { opacity: 0; }
}

.slide{
	height: 300px;	
	width: 400px;
	display: none;
	float: left;
	margin: auto;
	padding: 0;
/**/
z-index: 1;

/*-webkit-transition: opacity 5s;
-o-transition: opacity 5s;
transition: opacity 5s;*/
}

.slide_unhidden{
display: block;
animation: showIn 3s linear;
z-index: 2;
}

.current{
	display: block;
}

.dot{
	width: 13px;
	height: 13px;
	padding: 0;
}

/*main*/
.main{
	background-color: #f0f1f5;
	max-width: 52rem;
	margin: 0 auto;
}

.main__item{
	border-bottom: 1px solid #dfe1e5;
}

.main__item, .prices__conteiner{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	justify-content: space-around;
}

.about__items, .prices__item{
	text-align: justify;
	padding: 2%;
	flex-basis: 40%;
	min-width: 8.3rem;
}

.prices__header{
	text-align: center;
	flex-basis: 100%;
}

.prices__img{
	width: 300px;
	border: 1px solid #112233;
}

.price__item{
	border: 2px solid #b7e20c;
	background-color: #e9e9e9;
	width: 16.67rem;
}

.btn{
	background-color: #e9535b;
	color: #112233;
	height: 2.2rem;
	border: 1px solid #f73942;
	border-radius: 10px;

	-webkit-box-shadow: 2px 2px 2px grey, 0 0 2px grey;
	box-shadow: 2px 2px 2px grey, 0 0 2px grey;
}

.btn:hover{
	background-color: #f73942;
}

.btn:active{
	background-color: #f73942;
	-webkit-box-shadow: inset 0 0 12px grey, inset 0 0 12px grey;
	box-shadow: inset 0 0 12px grey, inset 0 0 12px grey;
}

.gallery{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.img{
	width: 16.6rem;
	height: 10rem;
}

#googleMap{
	height: 20rem;
	width: 100%;
}
/*fixed-element*/

.speedBooking{
	position: fixed;
	bottom: 50px;
	right: 5px;
	margin: 0 auto;
	line-height: 3.6rem;
	background-color: #44bbff;
	border-radius: 10px;
	width: 8rem;
	height: 3.9rem;
	overflow: hidden;

	transition: width 2s linear;
  -moz-transition: width 2s linear;
  -webkit-transition: width 2s linear; 
  -o-transition: width 2s linear; 
}

.speedBooking:hover, .speedBooking:active{
	width: 40rem;
}

@media screen and (max-width: 600px){
	.speedBooking{
		height: 40%;
		width: 90%;
		position: fixed;

		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		-webkit-flex-wrap: wrap;
  	-moz-flex-wrap: wrap;
  	-ms-flex-wrap: wrap;
  	-o-flex-wrap: wrap;
  	flex-wrap: wrap;
	}

	.speedBooking:hover, .speedBooking:active{
		width: 90%;
	}

	.regWrapper{
		left: 5% !important;
		width: 90%;		
	}

	.formItems{
		padding: 0;
	}
	
}

#ui-datepicker-div{
	right: 20%;
	top: 50%;
}

/*footer*/
.footer{
	background-color: #66cc99;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;	

	-ms-align-items: stretch;
	align-items: stretch;

	justify-content: center;
}	
	
.footer__item{	
	flex-basis: 45%;
	margin-top: 5px;
}

.socialBtn{
	display: inline-block;
	list-style: none;
	width: 42px;
	height: 42px;
}

.socialBtn__inst{
	background-image: url(images/social_sprite.png);
	background-position: 0 0;
}

.socialBtn__fb{
	background-image: url(images/social_sprite.png);
	background-position: -50px 0;
}

.socialBtn__tweet{
	background-image: url(images/social_sprite.png);
	background-position: -98px 0;
}

.socialBtn__inst:hover{
	background-image: url(images/social_sprite.png);
	background-position: -140px 0;
}

.socialBtn__fb:hover{
	background-image: url(images/social_sprite.png);
	background-position: -190px 0;
}

.socialBtn__tweet:hover{
	background-image: url(images/social_sprite.png);
	background-position: -238px 0;
}

/*regForm*/
.regWrapper{
	position: fixed;
	top: 10%;
	left: -99999999px;
	width: 60%;
	color: #112233;
}

#regForm{
	height: 100%;
	width: 100%;
	background-color: rgba(66, 209, 244, 0.7);
}

.closeBtn{
	width: 10px;
	height: 10px;
	position: relative;
	left: 20px;
	top: 20px;
	color: #f73942;
	cursor: pointer;
}
.closeBtn:active{
	  transform:rotate(90deg);
}

/*breadcrumbs*/
.breadcrumbs{
	display: block;
	background: #66cc99;
	color: #112233;
	-webkit-box-shadow: 0 2px 16px #e9e9e9;
	box-shadow: 0 2px 16px #e9e9e9;
	margin-top:-10px;
}
.breadcrumbsItem{
	display: inline-block;
}
.breadcrumbsHref{	
	position: relaive;
	text-decoration: none;
}

.breacrumbsHref:after {
	content: "";
	width: 9px;
	height: 9px;
	display: block;
	border-top:2px solid #555;
  border-right:2px solid #555;
  position:absolute;
  top: 6px;
  right: 0;
  transform:rotate(45deg);
}

.breacrumbsItem:last-of-type a{
	background-color: #112233;
	color: beige;
	font-weight: bold;
}	