include ../_mixin

block about
	#about.about.main__item
		-for(var i=0; i<4; i++)
			+about(data.about[i].header, data.about[i].text)


block gallery
	.gallery.main__item
		h2 Gallery
		.gallery_wrap
			-for(var i=0; i<6; i++)
				+img("img", data.img[i].src, data.img[i].alt)

block price
	#price.prices.main__item
		h2.prices__header Prices
		.prices__conteiner
			-for(var i=2; i<11; i+=2)
				+price(data.price[i].header, data.price[i].discription, data.price[i].img, data.price[i].price)
		#rooms

block map
	h2 Map
	#googleMap.map