include ../_registrationForm
.wrapper
	.registration
		form#singin(action="registration", methos="POST")
			input.formItems(type="email", placeholder="Email", required)
			input.formItems(type="password", placeholder="Password", minlength="8", required)
			input.btn.submit.formItems(type ='submit' value="Sing in")
			span
		p or
		button#reg.btn.formItems(type='button') Registration