extends components/_default

block vars
	- 
		page = {language: "en",
			name:"about",
			title:"about BirdUp",
			description:"the bast hostel in Gallaxy"}

block main
	include components/content/_about

	h2 Map
	#googleMap.map

