extends components/_default

block vars
	- 
		page = {language: "en",
			name:"gallery",
			title:"BirdUp gallery",
			description:"the bast hostel in Gallaxy"}

block main
	include components/content/_gallery
