extends components/_default

block vars

	- 
		page = {language: "en",
			name:"home",
			title:"BirdUp",
			description:"the bast hostel in Gallaxy"}

include components/_header

block main
	include components/_main


