extends components/_default
block vars
	- 
		page = {language: "en",
			name:"price",
			title:"BirdUp price",
			description:"the bast hostel in Gallaxy"}

block main
	include components/content/_about